@mixin btn {
  background-color: #f0a023;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 10px 25px;
  @media (min-width: 2560px) {
    font-size: 1.2rem;
  }
}

.button {
  @include btn;
}

.secondary {
  @include btn;
  background-color: #250b38;
  color: white;
  border: 2px solid #f0a023;
  padding: 5px 15px;
}
