.main {
  display: flex;
  border-bottom: 1px solid #e8dfed;
  padding: 10px 0px;
  justify-content: center;
  gap: 10px;
}

.inputBox {
  display: flex;
  flex-direction: column;

  label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  input {
    padding: 5px;
    outline: none;
    border: 1px solid #eae8ec;
    border-radius: 3px;
  }
  @media (min-width: 2560px) {
    label,
    input {
      font-size: 1.3rem;
    }
  }
}

.firstFlexChild {
  width: 80%;
}

.secondFlexChild {
  width: 20%;
  margin: 0 2px;
}
