.main {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  @media (min-width: 2560px) {
    font-size: 1.5rem;
  }
}

.header {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #250b38;
}

.controlsBox {
  display: flex;
  gap: 10px;
}

.dataBox {
  background-color: #f4eef7;
  margin-top: 10px;
  border-radius: 5px;
}

.totalBox {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  span {
    font-weight: bold;
  }
}

.expenseBox {
  margin-top: 5px;
}

@media (max-width: 560px) {
  .header {
    flex-wrap: wrap;
  }
}

@media (max-width: 376px) {
  .controlsBox {
    flex-wrap: wrap;
  }
}
